<launch>

	<rosparam command="load" file="$(find robot_localization)/params/my_localization.yaml" />

	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_localization" clear_params="true"/>

<!--
	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_map" clear_params="true">
	</node>

	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
	</node>
-->
</launch>
