<launch>

	<rosparam command="load" file="$(find master)/params/parameters.yaml" />

	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_localization_map" clear_params="true">
	</node>


	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_localization_odom" clear_params="true">
	  <remap from="odometry/filtered" to="odometry/local"/>

	</node>

	<remap from="imu/data" to="imu"/>
	<remap from="gps/fix" to="fix"/>
	<!-- Navsat should read and feed ukf_ _map-->
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true"/>

</launch>
