<launch>

	<rosparam command="load" file="$(find master)/params/parameters.yaml" />

	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_odom_imu" clear_params="true">
		<remap from="/odometry/filtered" to="/odometry/odom" />
	</node>

<!-- -->
	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_map" clear_params="true">
	</node>


	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
		<remap from="/imu/data" to="/lidar_imu" />
		<remap from="/gps/fix" to="/fix" />
		<remap from="/odometry/filtered" to="/odometry/odom"/>
	</node>

</launch>
