<launch>

	<rosparam command="load" file="$(find master)/params/parameters.yaml" />

	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_localization" clear_params="true"/>

<!--
	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_map" clear_params="true">
	</node>
-->
	<remap from="imu/data" to="imu"/>
	<remap from="gps/fix" to="fix"/>
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true"/>

</launch>
