<launch>
  <arg name="razor_config_file" default="$(find razor_imu_9dof)/config/my_razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
  </node>
  <node pkg="razor_imu_9dof" type="display_3D_visualization.py" name="display_3D_visualization_node" output="screen">
  </node>
  <node pkg="hector_imu_attitude_to_tf"
        type="imu_attitude_to_tf_node"
        name="imu_attitude_to_tf_node"
        output="screen">
        
        <remap from="imu_topic" to ="/imu"/>
        <param name="base_stabilized_frame" type="string" value="/base_stabilized" />
        <param name="base_frame" type="string" value="base_frame"/>
  </node>
        
<include
	file="$(find razor_imu_9dof)/launch/razor-pub2.launch"
/>
<node
          pkg="urg_node" type="urg_node" name="lidar"
	>
        <param name="ip_address" value="192.168.0.10" />

        </node>
	<node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps">
				<param name="port" value="/dev/gps"/>
				<param name="baud" value="4800"/>			
	</node>

	<node pkg="rosserial_python" type="serial_node.py" name="serial">
        <param name="port" value="/dev/ttyACM0" />
  </node>

</launch>
